body{

background-color: #E5E5E5;
font-family: 'Jost', sans-serif;

}

.portada{

background-color: #FFCA10;
height: 500px;

}

.titulo{

    font-size:115px ;
}

.cuadroTitulo{

padding-top: 60px;
}


.navbar-expand-lg .navbar-collapse{
justify-content: space-between;
font-family: 'Montserrat', sans-serif !important;
font-weight: 700; 

}

.menuColor{
    background-color: #FFCA10;
}
.colorPrincipal{
    background-color: #07203C;
}
.colorSecundario{
    background-color: #243E57;
}
.colorError{
    background-color: #DD052A;
}

.white{

    background-color: white;
}

.montserrat{
    font-family: 'Montserrat', sans-serif !important;
}